<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>
    <Form action="/registration" method="POST">
        <input type="text" name="user_name" id="" placeholder="Введите имя" required>
        <input type="text" name="user_sure_name" id="" placeholder="Введите фамилию" required>
        <input type="text" name="user_otch" id="" placeholder="Введите отчество" required>
        <input type="text" name="login" id="" placeholder="Введите логин" required>
        <input type="password" name="password" id="" placeholder="Введите пароль" required>
        <input type="email" name="email" id="" placeholder="Введите адрес электронной почты" required>
        <input type="tel" name="phone" id="" placeholder="Введите номер телефона" required>
        <button type="submit">Регистрация</button>
        <p>Уже есть аккаунт?<a href="login"> Войти</a></p>
    </Form>
</body>
</html>