<header class="header">
    <div class="container">
      <div class="logo">
        <h1>Магазин</h1>
      </div>
      <nav class="nav">
        <a href="/">Главная</a>
        <a href="#">Каталог</a>
        <a href="/basket/1">Корзина</a>
        <a href="#">Контакты</a>
        <a href="/login"><Button>Войти</Button></a>
        <a href="/user_profile/1">Профиль</a>
        <a href="/favorite/1">Избранное</a>
      </nav>
    </div>
  </header>